.footer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    color: var(--color-dark);
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 744px) {
  .footer {
    p {
      font-size: var(--size-2xl);
    }
  }
}

/* md */
@media (min-width: 1024px) {
  .footer {
    p {
      font-size: var(--size-3xl);
    }
  }
}
