.hero {
  padding-top: 140px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-information {
  display: flex;
  flex-direction: column;
  gap: var(--padding-base);
  text-align: center;
}

.hero-subtitle {
  font-size: var(--size-xl);
  letter-spacing: 0.14em;
  font-weight: 600;
}

.hero-title {
  font-family: "Belanosima", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.9em;

  font-size: var(--size-4xl);
  line-height: 0.9em;

  span {
    color: var(--color);
  }
}

.container-button {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hero-social-media {
  display: flex;
  gap: var(--size-small);
  align-items: center;
  justify-content: center;
  margin: var(--size-base) 0;
  a {
    font-size: var(--size-5xl);
    color: var(--color);
    transition: all 0.4s ease-in-out;

    &:hover {
      color: var(--first);
      transform: scale(1.2);
    }
  }
}

.hero-left {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* sm */
@media (min-width: 744px) {
  .container-button {
    flex-direction: row;
    justify-content: center;
  }

  .hero-description {
    font-size: var(--size-xl);
  }
}

/* md */
@media (min-width: 1024px) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--size-2xl);
  }

  .hero-right {
    width: 60%;
  }
  .hero-left {
    width: 40%;
  }

  .hero-left {
    width: 350px;
    height: 350px;
  }

  .hero-right {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--size-base);
  }

  .hero-information {
    align-items: start;
    text-align: left;
  }

  .hero-description {
    font-size: var(--size-2xl);
  }

  .hero-social-media {
    flex-direction: column;
  }

  .container-button {
    a {
      font-size: 19px;
    }
  }
}

/* lg */
@media (min-width: 1440px) {
  .hero-right,
  .hero-left {
    width: 50%;
  }

  .hero-left {
    width: 450px;
    height: 450px;
  }

  .hero-subtitle {
    font-size: var(--size-3xl);
  }

  .hero-title {
    font-size: var(--size-5xl);
  }

  .container-button {
    a {
      font-size: 24px;
    }
  }
}
