.scroll-up-button {
  /* Darle estilos al boton */
  background-color: var(--color);
  padding: 0.25rem 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  color: var(--primary);

  /* Ubicar el boton en un lugar fijo */
  position: fixed;
  right: 1rem;
  bottom: -10%;

  z-index: 1;
  display: inline-block;

  transition: bottom 1000ms ease;
}

.scroll-up-button:hover {
  bottom: 1.25rem;
}

.show-button {
  bottom: 1rem;
}
