.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  flex: 1 1 calc(33.33% - 16px);
  max-width: calc(33.33% - 16px);
  /* border: 1px solid transparent; */
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* text-align: center; */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  color: #555;
}

@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* sm */
@media (min-width: 744px) {
}

/* md */
/* @media (min-width: 1024px) { } */

/* lg */
/* @media (min-width: 1440px) { } */
